* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
}

.foto {
    width: 12vw;
    height: 26vh;
    border-radius: 50%;
    object-fit: cover;
    border: #f5f6f7 5px solid;
}

.blocoUm {
    background-color: #1b1b32;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    align-items: center;
    justify-content: space-evenly;
}

nav > a {
    color: #f5f6f7;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 20vw;
    text-decoration: none;
}

a:hover {
    color: gray;
}

h5 > span > a {
    text-decoration: none;
    color: #f5f6f7;;
}

.blocoDois {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 50px;
    background: linear-gradient(90deg, #f5f6f7, #1b1b32);
    color: #1b1b32;
}

.dadosPessoais {
    text-align: left;
    width: 60vw;
    height: 15vh;
    font-size: 1em;
}

h1 {
    margin-bottom: 0;
    font-size: 1.8em;
}

h5 {
    margin-top: 0;
}

span {
    color: #f5f6f7;
}

.textos, .conhecimentos, .objetivos {
    text-align: justify;
    max-width: 38vw;
    height: fit-content;
    margin-top: 0;
}

.links {
    display: flex;
    width: 200px;
    height: 10vh;
    cursor: pointer;
}

.github, .insta, .linkedin, .face {
    height: 40px;
    width: 40px;
}

ol {
    list-style-type: upper-latin;
}

.conhecimentos, .objetivos, ul, ol {
    font-size: 1.2em;
}

p, ul, ol {
    line-height: 4vh;
}

@media (max-width: 900px) {
    .blocoUm {
        width: 180px;
        height: 100vh;
    }

    .blocoDois {
        width: 720px;
        height: 100vh;
    }

    .conhecimentos, .objetivos, ul, ol {
        font-size: 0.8em;
    }

    nav > a, p {
        font-size: 0.8em;
    }

    .dadosPessoais, h1 {
        font-size: 1.1em;
        overflow: auto;
    }

    p, ul, ol {
        line-height: 3.5vh;
    }
  }

@media (max-width: 768px) {
    .blocoUm {
        width: 150px;
        height: 100vh;
    }

    .blocoDois {
        width: 618px;
        height: 100vh;
    }

    .conhecimentos, .objetivos, ul, ol {
        font-size: 0.8em;
    }

    nav > a, p {
        font-size: 0.6em;
    }

    .dadosPessoais, h1 {
        font-size: 0.8em;
        overflow: auto;
    }

    p, ul, ol {
        line-height: 3vh;
    }
  }